body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, hsl(53, 92%, 47%), hsl(58, 96%, 64%));
}

a {
  text-decoration: none;
  color: black;
  font-size: 10em;
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 20px;
  box-shadow: 1px 3px 2px 0.5px hsl(0, 0%, 0%),
    -0.5px 1px 0.5px hsl(0, 0%, 0%);
  padding: 3vw;
}

a:active {
  box-shadow: 1px 2px 2px 0.5px hsl(0, 0%, 0%) inset;
}