html {
    font-family: 'K2D', 'Times New Roman';
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,
            #FFF1B8,
            #CFEAFF,
            #6BB7E8);
}

#clock {
    position: relative;
    font-size: 40px;
    font-weight: bold;
}

.button1 {
    position: relative;
    transform: translateY(-25vh);
    color: black;
    font-size: 35px;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 20px;
    box-shadow: 1px 3px 2px 0.5px hsl(0, 0%, 0%),
        -0.5px 1px 0.5px hsl(0, 0%, 0%);
    padding: 3vw;
    margin: 10px;
    text-align: center;
    background: none;
}

p {
    font-size: 35px;
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#link {
    width: 350px;
    height: 197px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    border: none;
}

.send {
    display: flex;
    position: relative;
    transform: translateY(-50px);
}

.button2 {
    width: 40px;
    height: 30px;
    background: none;
    color: black;
    box-shadow: 1px 2px 0.5px hsl(0, 0%, 0%);
    margin: 10px;

}

.button2:active {
    box-shadow: -1px -2px 0.5px hsl(0, 0%, 0%);
}

input {
    width: 50vw;
    height: 25px;
    border-radius: 10px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 35px;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 20px;
    box-shadow: 1px 3px 2px 0.5px hsl(0, 0%, 0%),
        -0.5px 1px 0.5px hsl(0, 0%, 0%);
    padding: 3vw;
    margin: 10px;
    text-align: center;
}

a:active {
    box-shadow: 1px 2px 2px 0.5px hsl(0, 0%, 0%) inset;
}

.music-card {
    position: relative;
    transform: translateY(-25px);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    padding: 20px 24px;
    border-radius: 18px;
    width: 320px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    color: #fff;
}

audio {
    width: 100%;
    outline: none;
    border-radius: 12px;
}

/* Chrome / Edge */
audio::-webkit-media-controls-panel {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 12px;
}

/* Mobile */
@media (max-width: 400px) {
    .music-card {
        width: 90%;
    }
}