html {
    font-family: 'K2D', 'Times New Roman';
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,
            #FFD166,
            #F77F12,
            #E85D00);

}

#clock {
    position: relative;
    font-size: 40px;
    font-weight: bold;
}

button {
    position: relative;
    transform: translateY(-25vh);
    color: black;
    font-size: 35px;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 20px;
    box-shadow: 1px 3px 2px 0.5px hsl(0, 0%, 0%),
        -0.5px 1px 0.5px hsl(0, 0%, 0%);
    padding: 3vw;
    margin: 10px;
    text-align: center;
    background: none;
}

p {
    font-size: 35px;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#link {
    width: 350px;
    height: 197px;
    /* 16:9 */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    border: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 35px;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 20px;
    box-shadow: 1px 3px 2px 0.5px hsl(0, 0%, 0%),
        -0.5px 1px 0.5px hsl(0, 0%, 0%);
    padding: 3vw;
    margin: 10px;
    text-align: center;
}

a:active {
    box-shadow: 1px 2px 2px 0.5px hsl(0, 0%, 0%) inset;
}