html {
    font-family: 'K2D', 'Times New Roman';
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,
            #1F2A38,
            #2A3A4A,
            #3A4A5A);

}

#clock {
    position: relative;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

p {
    font-size: 35px;
    color: white;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 35px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 1px 3px 2px 0.5px hsl(0, 0%, 100%),
        -0.5px 1px 0.5px hsl(0, 0%, 100%);
    padding: 3vw;
    margin: 10px;
    text-align: center;
}

a:active {
    box-shadow: 1px 2px 2px 0.5px hsl(0, 0%, 100%) inset;
}